.smartdelivery-dialog-overlay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB94JCQwBCmQs2z8AAAANSURBVAjXY2BgYDgDAADRAM3QD+wzAAAAAElFTkSuQmCC);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.smartdelivery-dialog {
    font-family: Arial, Helvetica, sans-serif;   
    position: fixed;
    background : #fff;
    z-index: 1001;
    overflow: hidden;
    color: #2e2e2e;
    font-size: 13px;
}

.smartdelivery-dialog a {
    color: #2e2e2e!important;
    text-decoration: underline;    
}

.smartdelivery-dialog a:hover {
    color: #4db4d7!important;
}

.smartdelivery-dialog ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.smartdelivery-dialog li {
    cursor: pointer;
    padding: 10px 20px;
}

.smartdelivery-dialog li:before {
    display: none;
}

.smartdelivery-dialog li:nth-child(odd) {
    background-color: #f0f0f0;
}

.smartdelivery-dialog li:hover {
    color: #4db4d7;
}

.smartdelivery-dialog li.selected {
    background-color: #4db4d7!important;
    color: white;
}

.smartdelivery-header {
    background-color: #f75d5d;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 17px;
}

.smartdelivery-dialog-closer {
    width: 19px;
    height: 19px;
    float: right;

    margin-top: 20px;
    cursor: pointer;
    
    background-repeat: no-repeat;
    background-position: 0 0;
}

.smartdelivery-dialog-closer:hover {
    background-position: -19px 0;
}

.smartdelivery-dialog-services-overlay {
    overflow-y: scroll;
    float : left;
    text-align: left;    
}

.smartdelivery-dialog-filter {
    margin: 20px 20px 0 20px;
}

.smartdelivery-dialog-filter select,
.smartdelivery-dialog-filter input,
.smartdelivery-dialog-filter p {
    width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    margin: 0 0 20px 0;
    padding: 5px;
}

.smartdelivery-dialog-map-infowindow {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    color: #2e2e2e;
    text-align: left;
}

.smartdelivery-copyright {
    padding: 0 20px;
    height: 30px;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
    color: #000!important;
}